@using Pjatk.Pab.Books.Domain.Models
@model Pjatk.Pab.Books.Domain.Models.Book

@{
    ViewBag.Title = "Dodaj książkę";
}

<h2>Dodaj</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Książka</h4>
        <hr />
        @Html.ValidationSummary(true)
        <div class="form-group">
            @Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Title)
                @Html.ValidationMessageFor(model => model.Title)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Subtitle, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Subtitle)
                @Html.ValidationMessageFor(model => model.Subtitle)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Isbn, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Isbn)
                @Html.ValidationMessageFor(model => model.Isbn)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Publisher, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Publisher)
                @Html.ValidationMessageFor(model => model.Publisher)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PublishDate, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.PublishDate)
                @Html.ValidationMessageFor(model => model.PublishDate)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PagesCount, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.PagesCount)
                @Html.ValidationMessageFor(model => model.PagesCount)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.EditionNumber, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.EditionNumber)
                @Html.ValidationMessageFor(model => model.EditionNumber)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Authors, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <select id="authorsIds" multiple name="authorsIds">
                    @foreach (var item in ViewData["authors"] as IEnumerable<Author>)
                    {
                        <option value="@item.Id">@item.FirstName @item.LastName</option>
                    }
                </select>
                @Html.ValidationMessageFor(model => model.EditionNumber)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Dodaj" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Powrót", "Index")
</div>
