@model Pjatk.Pab.Books.Domain.Models.Book

@{
    ViewBag.Title = "Szczegóły";
}

<h2>Szczegóły</h2>

<div>
    <h4>Książka</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Subtitle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Subtitle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Isbn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Isbn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Publisher)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Publisher)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PublishDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PublishDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PagesCount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PagesCount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EditionNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EditionNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Authors)
        </dt>

        <dd>
            @if (Model.Authors != null)
            {
                foreach (var a in Model.Authors)
                {
                    <span>@a.FirstName @a.LastName</span>
                }
                @Html.DisplayFor(model => model.Authors)
            }
        </dd>

    </dl>
</div>

<p>
    @Html.ActionLink("Edycja", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Powrót", "Index")
</p>
